:root {
  --colors-primary-cerulean: #00303f; //grey
  --colors-secondary-honey: #dcae1d;

  --colors-background-morning-sky: #dff7ee;

  --colors-secondary-mist: #7a9d96;
  --colors-secondary-snow: snow;
}

//https://www.canva.com/learn/website-color-schemes/
