:root {
  --colors-primary-cerulean: #00303f; //grey

  --colors-secondary-honey: #dcae1d;
  --colors-secondary-honey-lighter: #f8efd2;
  --colors-secondary-honey-darker: #9a7a14;

  --colors-background-morning-sky: #dff7ee;

  --colors-secondary-mist: #7a9d96;
  --colors-secondary-snow: snow;

  --font-family-regular: ;
}

//https://www.canva.com/learn/website-color-schemes/
