@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import './color.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

::webkit-scrollbar {
  display: none;
}
body,
html,
#__next {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background-color: var(--main-color);
  overflow: hidden;
  color: var(--colors-primary-cerulean);
  font-family: 'Nunito Sans', sans-serif;
}
.icon {
  color: var(--colors-primary-cerulean);
  font-size: 40px;
  justify-self: center;
  align-self: center;
}
