.nav {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 10px 40px 20px 40px;
  overflow: hidden;
}
.navMenu {
  text-align: center;
  position: relative;
  justify-self: center;
  align-self: center;
  padding-top: 10px;
}
.navBar {
  display: none;
  justify-content: center;
  padding-top: 10px;
}
.navContact {
  padding: 0;
  margin: 0;
  justify-self: center;
  align-self: center;
}
.btn {
  display: block;
  height: 40px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid var(--colors-secondary-honey);
  text-transform: uppercase;
  font-size: 12px;
  background-color: var(--colors-background-morning-sky);
  color: var(--colors-secondary-honey);
  font-weight: 700;
}
.btn:hover {
  background-color: #f8efd2;
  border: 1px solid #dcae1d;
  color: var(--colors-primary-cerulean);
}

@media (min-width: 480px) {
  .navMenu {
    display: none;
    align-items: flex-start;
  }
  .navBar {
    display: block;
    justify-content: center;
  }
  .btn {
  }
}
.linksStack {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  list-style: none;

  & li {
    & a {
      padding: 2px 4px;
      color: var(--primary-cerulean);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: large;
    }
  }
}
